.indivpage__title {
    margin-top: 2rem;
}

.indivpage__wrapper {
    display: flex;
    justify-content: end;
}

.bouncer {
    border-left: 5px solid red;
    padding-left: 0.75rem;
    line-height: 1.75rem;
}

.indivpage__hero--bg {
    width: 100vw;
    opacity: 40%;
    position: relative;
    bottom: 250%;
}

.indivpage__hero--bg--wrapper {
    height: 50vh;
    overflow: hidden;
    box-shadow: 2px 0px 16px black;
}

.indivpage__hero--poster {
    height: 400px;
    width: 280px;
    position: absolute;
    top: 30%;
    right: 72%;
    box-shadow: 0 0 8px black;
}

.indivpage__synopsis {
    padding-left: 15vw;
    padding-top: 1rem;
}

.detail__block {
    border-radius: 25px;
    width: 246px;
    padding: 1rem;
    position: absolute;
    top: 75%;
    right: 72%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: rgba(83, 19, 136, 0.2);
    box-shadow: 0px 0px 6px black;
}

.detail__name {
    font-weight: 300;
    border-bottom: 1px solid #fd1d53;
}

.detail__info {
    font-style: italic;
}

.favorite__button {
    border-radius: 15px;
    padding: 0.5rem;
    width: 265px;
    position: absolute;
    top: 69.6%;
    right: 72%;
    text-align: center;
    background-color: #fd1d53;
    transition: 200ms;
    cursor: pointer;
}

.favorite__button:hover {
    box-shadow: 0px 0px 5px black;
}

.favorite__button:active {
    background-color: #2de2e6;
}

.indivpage__right {
    padding-left: 13vw;
}
