* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
}

.container {
    margin: 0 17%;
    padding: 0 1rem;
}

body {
    background-color: rgba(13, 2, 33, 0.8);
}

.flex {
    display: flex;
}
